<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServidorCorreo" value="1"/><!--1:GMail 2:Godaddy-->
    <add key="Empresa" value="Noobout" />
    <add key="Dominio" value="tuimportas.linnso.com" />
    <add key="Contacto" value="sergio.minei@linnso.com" />
    
    <add key="urlGenPago" value="http://pre.pagoefectivo.pe/GenPago.aspx"/>
    <add key="SPE_WebServiceTest_WSGeneral_WSCIP" value="http://pre.pagoefectivo.pe/PagoEfectivoWSGeneral/WSCIP.asmx"/>
    <add key="SPE_WebServiceTest_WSCrypto" value="http://pre.pagoefectivo.pe/PagoEfectivoWSCrypto/WSCrypto.asmx"/>
    <add key="SPE_WebServiceTest_WSGeneral_Mod1" value="http://pre.pagoefectivo.pe/PagoEfectivoWSGeneralv2/service.asmx"/>
    <add key="cAPI" value="10e8181f-4885-4a5a-8c3b-f991f745c7f4"/>
    <add key="cClave" value="62f9ad83-1599-45ac-a337-04ebebe6e39a"/>
    <add key="pathPublicKeyContraparte" value="C:\\Users\\Sergio Minei\\Desktop\\Tu Importas\\Noobout\Codigo\\TuImportas.eShop.PL.Web\\claves\\SPE_PublicKey.1pz"/>
    <add key="pathPrivateKey" value="C:\\Users\\Sergio Minei\\Desktop\\Tu Importas\\Noobout\Codigo\\TuImportas.eShop.PL.Web\\claves\\NBO_PrivateKey.1pz"/>
    <!--<add key="cCodServicio" value="PRU"/>-->
    <add key="cCodServicio" value="NBO"/>
    <add key="urlSPE" value="http://pre.pagoEfectivo.pe"/>
    <add key="cCodMoneda" value="1"/>
  
    <add key="pe.pagoefectivo.pre.crypta" value="https://pre.pagoefectivo.pe/pasarela/pasarela/crypta.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="30"></sessionState>
  <customErrors mode="RemoteOnly">
    <error statusCode="404" redirect="/404"/>
  </customErrors>
  </system.web>
  <connectionStrings>
    <add name="CSIMPORTAS" connectionString="Server=SERGIO-LENOVO\SQLSERVER2014;Database=TuImportasShop;Uid=sa;Pwd=password;"/><!--TA-PC-->
  <!--<add name="CSIMPORTAS" connectionString="Server=tuimportas.db.11141922.hostedresource.com;Database=tuimportas;Uid=tuimportas;Pwd=TuImp0rt4!;"/>--><!--GoDaddy-->
  </connectionStrings>
</configuration>
