.gridview
{
   padding: 0;
   /*margin: 0;*/
   border: 1px solid #dadada;
   font-family: 'Open Sans';
   font-size: 0.9em; 
	background-color: #e3e3e3;   
	margin: 5px 0 10px 0;
}  
.gridview td {   
	padding: 2px 7px;   
	/*border: solid 1px #c1c1c1;*/
	border: 0;
	color: #575757;
	font-size: 11pt;
	font-family: 'Open Sans';
	border-bottom:solid 1px #dadada;
}

.gridview tr:hover {
	background-color: #cecece;
	cursor:pointer;
}

.gridview th {   
	padding: 4px 6px;
	color: #CFCFCF;
	/*background: #333333;*/
	background: #5b5e63; /* Old browsers */
	background: -moz-linear-gradient(top, #5b5e63 20%, #1f1f1f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#5b5e63), color-stop(100%,#1f1f1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5b5e63 20%,#1f1f1f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5b5e63 20%,#1f1f1f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5b5e63 20%,#1f1f1f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5b5e63 20%,#1f1f1f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5e63', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */
	border: 0;
	font-weight: bold;
	text-align: center;
	font-size: 10pt;
	font-family: 'Open Sans';
	cursor:default;
}  
.gridview th a { color: #CFCFCF; text-decoration: none; text-decoration: underline; cursor:pointer; } 

.gridview .alt { background: #dddddd; }  
.gridview .pgr { background: #333333; color: #000000; border: solid 1px #c1c1c1;}
.gridview .pgr:hover, .gridview .pgr table:hover { background: #333333; cursor:default;}
.gridview .pgr table { margin: 5px 0; }  
.gridview .pgr td {   
	border-width: 0;   
	padding: 0 6px;   
	font-weight: bold;   
	color: #fff;
	line-height: 12px;
	font-family: 'Open Sans';
	background: #333333; 
 }     
.gridview .pgr a { color: #666666; text-decoration: none; }  
.gridview .pgr a:hover { color: #000; text-decoration: none; }